
<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="HandheldFriendly" content="true">
  <ion-header>
    <ion-navbar>
      <ion-title> 
      Contact Form
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content class="no-scroll" >
    
    
  <form novalidate  [formGroup]="user">
  
  
  <ion-item>
  <ion-label ><ion-icon name="person" color="dark"></ion-icon></ion-label>
  <ion-input type="text" value="" placeholder="Name" formControlName="name"></ion-input>
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('name').hasError('minlength') || user.get('name').hasError('required') ) && user.get('name').touched">
  
  <div id="name" class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
  Name is required
  </div>
  <div class="error" *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
  Minimum of 4 characters
  </div>
  </ion-item>
  
  
  
  
  
  
  <ion-item>
  <ion-label ><ion-icon name="mail" color="dark"></ion-icon></ion-label>
  <ion-input type="text" value="" placeholder="Email" formControlName="email"></ion-input>
  
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('email') ) && user.get('email').touched">
  
  
  
  <div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
  email is required
  </div>
  
  <div class="error" *ngIf="user.get('email').hasError('email') && user.get('email').touched">
  Please enter valid email
  </div>
  
  </ion-item>
  
  
  
  <ion-item>
  <ion-label ><ion-icon name="call" color="dark"></ion-icon></ion-label>
  <ion-input type="number" value="" placeholder="Phone" formControlName="mob"></ion-input>
  
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('minlength') || user.get('mob').hasError('maxlength'))&& user.get('mob').touched">
  
  
  
  <div class="error" *ngIf="user.get('mob').hasError('required') && user.get('email').touched">
  mobile no is required
  </div>
  <div class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('email').touched">
  Please enter valid mobile number
  </div>
  
  <div class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('email').touched">
  Please enter valid mobile number
  </div>
  
  
  </ion-item>
  
  <ion-item>
  <ion-label ><ion-icon name="create" color="dark"></ion-icon></ion-label>
  <ion-input type="text" value="" placeholder="Comment" formControlName="comment"></ion-input>
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('comment').hasError('minlength') || user.get('comment').hasError('required') ) && user.get('name').touched">
  
  <div class="error" *ngIf="user.get('comment').hasError('required') && user.get('comment').touched">
  Comment is required
  </div>
  <div class="error" *ngIf="user.get('name').hasError('minlength') && user.get('comment').touched">
  Minimum of 320 characters
  </div>
  </ion-item>
  <br>
  <br>
  <br>
  
  
  <ion-grid>
    <ion-row>
        <button ion-button (click)="ContactUser()" round outline>Submit</button>
    </ion-row><br>
    <ion-row>
        <button ion-button type="reset" color="danger" round outline>Reset</button>
    </ion-row>
  </ion-grid>
  
  
  
  
  
  
  
  
  </form>
  
  </ion-content>
  </html>
  
  
  
  <style type="text/css">
  .error
  {
  color:red;
  }
  
  
  /*input[type=submit]{
    background-color: transparent !important;
    border:3px solid #555555 !important;
    color:black;
    width:150px !important;
  
  }*/
  
  </style>
  
  