<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="HandheldFriendly" content="true">
  <ion-header>
  
    <ion-navbar>
      <ion-title>
        <div class="font">
        Login
        </div>
        </ion-title>
    </ion-navbar>
  
    <div class="img">
    <!--img src="../assets/imgs/logo1.png" height="42" width="42"-->
     </div>
    
   
  
  </ion-header>
  
  
  <ion-content  class="no-scroll">
    <form novalidate (ngSubmit)="AuthenticateUser()" [formGroup]="user">
  
    <div class="text">
  
    <ion-item>
  <ion-label ><ion-icon name="mail" color="dark"></ion-icon></ion-label>
  <ion-input type="email"  value="nikita@gmail.com" placeholder="Email" formControlName="email"></ion-input>
  
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('email') ) && user.get('email').touched">
  
  <div class="err">
  
  <div class="error"  *ngIf="user.get('email').hasError('required') && user.get('email').touched">
  email is required
  </div>
  
  <div class="error" *ngIf="user.get('email').hasError('email') && user.get('email').touched">
  Please enter valid email
  </div>
  </div>
  </ion-item>
  
  <ion-item>
  <ion-label ><ion-icon name="key" color="dark"></ion-icon></ion-label>
  <ion-input type="password" value="12345678" placeholder="Password" formControlName="pswd"></ion-input>
  
  </ion-item>
  
  <ion-item no-lines *ngIf="( user.get('pswd').hasError('minlength') || user.get('pswd').hasError('required') ) && user.get('pswd').touched">
  <div class="error" *ngIf="user.get('pswd').hasError('required') && user.get('pswd').touched">
  Password is required
  </div>
  
  <div class="error" *ngIf="user.get('pswd').hasError('maxlength') && user.get('pswd').touched">
  maximum 15 charecters
  </div>
  </ion-item>
  <br>
  <br>
  </div>
  
  
  
  
  <ion-grid>
          <ion-row>
                
                        <button ion-button type="submit" outline round>LOGIN</button>
          </ion-row>
          <br>
  
          <ion-row>
                        <button ion-button  (click)=" ForSignup() "  type="button" outline round >SignUp</button>
                
          </ion-row>
    </ion-grid>
  
  
  
    </form>
  
  </ion-content>
  
  </html>
  
  
  